DATABASE_URL="postgresql://user:password@host:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://user:password@host:5432/postgres"
STRIPE_SECRET_KEY="REMPLACER_PAR_VOTRE_CLE_STRIPE"
STRIPE_WEBHOOK_SECRET="REMPLACER_PAR_VOTRE_SECRET_WEBHOOK"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"